{% extends 'index.html' %} {% block body %} {% load static %}

<main>

    <!-- slider Area Start-->
    <main class="slider-area ">
        <div class="slider-active">
            <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="{% static 'assets/img/hero/info.jpg'%}">
            </div>
        </div>
    </main>



    <div class="ml-5 mt-5 " id="search" style="border: 2px green solid;padding: 10px 10px 10px 10px;">
        <h1 style="text-decoration:underline; text-align:center">Search</h1>


        <div class="row">
            <div class="col-lg-6">

                <form method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="search-from-date"><h3>Date from  &nbsp &nbsp</h3></label>
                        <input type="datetime" name="date1" id="search-from-date" />
                    </div>

                    <div>
                        <label for="search-to-date"><h3>Date to &nbsp &nbsp &nbsp  &nbsp &nbsp</h3></label>
                        <input type="datetime" name="date2" id="search-to-date" />
                    </div>

                    <div style="padding-left: 190px;">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>


            <!-- <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <br>
                    <div>
                        <label for="veh"><h3>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Vehicle number plate  &nbsp &nbsp</h3></label>
                        <input type="text" name="veh" id="veh" />
                    </div>

                    <div style="padding-left: 220px;">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div> -->
        </div>



        <br><br>
        <div class="row ">
            <div class="col">
                <!-- backend part -->
                {% for dest in dests %}
                <div style="border: 2px solid blue;display: inline-block;" class="mt-5 ml-5">
                    <div style="margin-left: 5px; margin-top: 15px">
                        <h3 style="text-decoration:underline; text-align:center">{{dest.token}}</h3>
                        <h5>{{dest.veh}}</h5>
                        <h5>{{dest.time}}</h5>
                        <h5>{{dest.location}}</h5>
                        <div style=" clear: both;"></div>
                    </div>
                </div>{% endfor %}
                <!-- backend part end -->
            </div>
        </div>


    </div>




</main>

{% endblock %}