{% extends 'index.html' %} {% block body %} {% load static %}

<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider  hero-overly slider-height d-flex align-items-center" width="100%" data-background="{% static 'assets/img/hero/employee.jpg'%}">

            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <div style="margin:30px">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <div>
                <div class="row justify-content-around">
                    <div class="col-lg-2" text-align="center">
                        <a><img src="https://scontent.fdac14-1.fna.fbcdn.net/v/t1.0-9/92570288_1331188227065862_6751251559209762816_o.jpg?_nc_cat=111&_nc_sid=cdbe9c&_nc_ohc=h5j-Uyhd6BUAX-H8e9u&_nc_ht=scontent.fdac14-1.fna&oh=7fac6a38213e76c26f9759dc867e0505&oe=5F6D402D"
                                height="300" width="300" title="Belal" /></a>
                        <div text-align="center">&nbsp &nbsp &nbsp &nbsp &nbsp Name:Belal<br />&nbsp &nbsp &nbsp &nbsp &nbsp ID: 201614102</div>
                    </div>
                    <div class="col-lg-2" text-align="center">
                        <a><img src="https://scontent.fdac14-1.fna.fbcdn.net/v/t1.0-9/116701370_620408728593164_3668538908258240811_o.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=QtD8Cmldwp0AX964WDR&_nc_ht=scontent.fdac14-1.fna&oh=a6669fbad9a792b32fd0d75f8a27d2df&oe=5F701450"
                                height="300" width="300" title="Tamjim" />
                        </a>
                        <div text-align="center">
                            &nbsp &nbsp &nbsp &nbsp &nbsp Name:Tanjim<br />&nbsp &nbsp &nbsp &nbsp &nbsp ID: 201614105</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>





{% endblock %}