{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>THESIS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %} ">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .hover:hover {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder-logo.png'%} " alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li>tanjimreza114@gmail.com</li>
                                        <li>belal1142080@gmail.com</li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <div class="">
                                        <a href="index.html" class="navbar-brand">
                                            <h3><b style="color:rgb(156, 78, 5);">THESIS</b></h3>
                                        </a>
                                    </div>
                                </div>
                            </div>




                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav class="nav navbar-expand-lg">
                                        <button class="navbar-toggler collapse" style="background-color:blue;" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                            <ul id="navigation" class="navbar-nav ml-auto">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="employees.html">Members</a></li>
                                                <li><a href="achievements.html">Project info</a></li>
                                                {% if user.is_authenticated %}
                                                <li><a href="biodata.html">Data</a> {%else%}
                                                    <li><a href="accounts/login">Data</a></li>
                                                    {% endif%}
                                                </li>
                                                <li><a href="#">Div</a>
                                                    <ul class="submenu">
                                                        <li><a href="#">7 Inf Div</a></li>
                                                        <li><a href="#">9 Inf Div</a></li>
                                                        <li><a href="#">10 Inf Div</a></li>
                                                        <li><a href="#">11 Inf Div</a></li>
                                                        <li><a href="#">17 Inf Div</a></li>
                                                        <li><a href="#">19 Inf Div</a></li>
                                                        <li><a href="#">24 Inf Div</a></li>
                                                        <li><a href="#">33 Inf Div</a></li>
                                                        <li><a href="#">55 Inf Div</a></li>
                                                        <li><a href="#">66 Inf Div</a></li>
                                                    </ul>
                                                </li>
                                                {% if user.is_authenticated %}
                                                <li><a href="accounts/logout">Logout</a></li>
                                                {%else%}

                                                <li><a href="accounts/login">Login</a></li>
                                                {% endif%}
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    {% block body %}


    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="{% static 'assets/img/hero/a1.jpg'%}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <br><br><br><br><br><br><br>
                                <div class="hero__caption">
                                    <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">

                                        <h2>VEH MGT SYS</h2>
                                        <h2>VEH MGT SYS</h2>
                                    </div>
                                    <!-- <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
                                        <span><a href="index.html">Get Started</a></span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin:30px">

            <div class="page-content">

                <h2>Introduction</h2>
                <p>
                    <a name="rfid"></a>Welcome to the Beginner&rsquo;s Guide to RFID Systems! This guide is ideal for those new to RFID and who want to learn about what the technology is, how it is used, about the different types, and about the necessary tags and equipment.</p>
                <h2>What is RFID?</h2>

                <p>Radio Frequency Identification (RFID) is the wireless non-contact use of radio frequency waves to transfer data. Tagging items with&nbsp;<a href="https://www.atlasrfidstore.com/rfid-tags/?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=rfid-tags">RFID
                        tags</a>&nbsp;allows users to automatically and&nbsp;<a href="https://blog.atlasrfidstore.com/what-is-rfid?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=what-is-rfid">uniquely
                        identify</a>&nbsp;and track inventory and assets. RFID takes auto-ID technology to the next level by allowing tags to be read without line of sight and, depending on the type of RFID, having a read range between a few centimeters
                    to over 20+ meters.</p>
                <p>RFID has come a long way from its first application of identifying airplanes as friend or foe in World War II. Not only does the technology continue to improve year over year, but the cost of implementing and using an RFID system continues
                    to decrease, making RFID more cost-effective and efficient.</p>
                <h3>Types of RFID</h3>
                <p>Within the&nbsp;<a href="https://blog.atlasrfidstore.com/which-rfid-frequency-is-right-for-your-application?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=rfid-spectrum">Electromagnetic
                        Spectrum</a>, there are three primary frequency ranges used for RFID transmissions &ndash; Low Frequency, High Frequency, and Ultra-High Frequency.</p>
                <p><img src="https://cdn1.bigcommerce.com/n-ww20x/ka7ofex/product_images/uploaded_images/electromagnetic-spectrum.png" width="100%" alt="" /></p>
                <p><strong>Low Frequency</strong></p>
                <ul>
                    <li>General Frequency Range: 30 - 300 kHz</li>
                    <li>Primary Frequency Range: 125 - 134 kHz</li>
                    <li>Read Range: Contact - 10 Centimeters</li>
                    <li>Average Cost Per Tag: $0.75 - $5.00</li>
                    <li>Applications:&nbsp;<a href="https://blog.atlasrfidstore.com/low-frequency-rfid-and-animal-identification?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=animal-tracking">Animal
                            Tracking</a>, Access Control, Car Key-Fob, Applications with High Volumes of Liquids and Metals</li>
                    <li>Pros: Works well near Liquids &amp; Metals, Global Standards</li>
                    <li>Cons: Very Short Read Range, Limited Quantity of Memory, Low Data Transmission Rate, High Production Cost
                    </li>
                </ul>
                <p><img src="https://cdn1.bigcommerce.com/n-ww20x/ka7ofex/product_images/uploaded_images/low-frequency1.png" width="100%" alt="low-frequency1.png" /></p>
                <p><strong>High Frequency</strong></p>
                <ul>
                    <li>Primary Frequency Range: 13.56 MHz</li>
                    <li>Read Range: Near Contact - 30 Centimeters</li>
                    <li>Average Cost Per Tag: $0.20 - $10.00</li>
                    <li>Applications: DVD Kiosks, Library Books, Personal ID Cards, Poker/Gaming Chips,&nbsp;<a href="https://blog.atlasrfidstore.com/nfc-facts-applications?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=nfc-applications">NFC
                            Applications</a></li>
                    <li>Pros: NFC Global Protocols, Larger Memory Options, Global Standards</li>
                    <li>Cons: Short Read Range, Low Data Transmission Rate</li>
                </ul>
                <p><img src="https://cdn1.bigcommerce.com/n-ww20x/ka7ofex/product_images/uploaded_images/high-frequency1.png" width="100%" alt="high-frequency1.png" /></p>
                <p><strong>Ultra-High Frequency</strong></p>
                <ul>
                    <li>General Frequency Range: 300 - 3000 MHz</li>
                    <li>Primary Frequency Ranges: 433 MHz, 860 - 960 MHz</li>
                </ul>
                <p><img src="https://cdn1.bigcommerce.com/n-ww20x/ka7ofex/product_images/uploaded_images/ultra-high-frequency1.png" width="100%" alt="ultra-high-frequency1.png" /></p>
                <p>There are two types of RFID that reside within the Ultra High Frequency range:&nbsp;<a href="https://blog.atlasrfidstore.com/active-rfid-vs-passive-rfid?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=active-v-passive">Active
                        RFID</a>&nbsp;and Passive RFID.</p>
                <p><strong>Active RFID</strong></p>
                <ul>
                    <li>Primary Frequency Range: 433 MHz, (Can use 2.45 GHz - under the Extremely High Frequency Range)</li>
                    <li>Read Range: 30 - 100+ Meters</li>
                    <li>Average Cost Per Tag: $25.00 - $50.00</li>
                    <li>Applications: Vehicle Tracking, Auto Manufacturing,&nbsp;<a href="https://blog.atlasrfidstore.com/mining-opportunity?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=mining">Mining</a>,
                        Construction, Asset Tracking</li>
                    <li>Pros: Very Long Read Range, Lower Infrastructure Cost (vs. Passive RFID), Large Memory Capacity, High Data Transmission Rates</li>
                    <li>Cons: High Per Tag Cost, Shipping Restrictions (due to batteries), Complex Software may be Required, High Interference from Metal and Liquids; Few Global Standards</li>
                </ul>
                <p><strong>Passive RFID</strong></p>
                <ul>
                    <li>Primary Frequency Ranges: 860 - 960 MHz</li>
                    <li>Read Range: Near Contact - 25 Meters</li>
                    <li>Average Cost Per Tag: $0.09 - $20.00</li>
                    <li>Applications: Supply Chain Tracking, Manufacturing,&nbsp;<a href="https://blog.atlasrfidstore.com/7-things-can-track-hospitals-using-rfid?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=hospital-applications">Pharmaceuticals</a>,
                        Electronic Tolling, Inventory Tracking,&nbsp;<a href="https://blog.atlasrfidstore.com/all-about-the-timing?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=race-timing">Race
                            Timing</a>,<a href="https://blog.atlasrfidstore.com/rfid-asset-tracking-examples?utm_source=RFID-Beginners-Guide&amp;utm_medium=eBook&amp;utm_campaign=Content&amp;utm_content=asset-tracking">&nbsp;Asset
                            Tracking</a></li>
                    <li>Pros: Long Read Range, Low Cost Per Tag, Wide Variety of Tag Sizes and Shapes, Global Standards, High Data Transmission Rates</li>
                    <li>Cons: High Equipment Costs, Moderate Memory Capacity, High Interference from Metal and Liquids</li>
                </ul>
            </div>
        </div>






    </main>




    {% endblock %}
    <footer>
        <!-- Footer Start-->
        <br><br><br>
        <div class="footer-main">
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row  justify-content-between">
                        <div class="col-lg-4 col-md-4 col-sm-8">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <!-- <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a> -->
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <h3 class="info1"><b style="color:rgb(156, 78, 5);">Automated Vehicle Entry/Exit Control Management System At Mp Check Post</b></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="achievements.html">Project info</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact</h4>
                                    <div class="footer-pera">
                                        <p class="info1">Mirpur Cantt</p>
                                    </div>
                                    <ul>
                                        <li><a href="#">Phone: 01789-377471</a></li>
                                        <!-- <li><a href="#">Cell: +95 (0) 123 456 789</a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                        SIGN UP
                                                    </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Map -->
                                <div class="map-footer">
                                    <img src="{% static 'assets/img/gallery/map-footer.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Copy-Right -->
                    <div class="row align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/belal.shah.792" target="_blank">BELAL</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js'%}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
    <script src="{% static './assets/js/popper.min.js'%}"></script>
    <script src="{% static './assets/js/bootstrap.min.js'%}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static './assets/js/jquery.slicknav.min.js'%}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static './assets/js/owl.carousel.min.js'%}"></script>
    <script src="{% static './assets/js/slick.min.js'%}"></script>
    <!-- Date Picker -->
    <script src="{% static './assets/js/gijgo.min.js'%}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static './assets/js/wow.min.js'%}"></script>
    <script src="{% static './assets/js/animated.headline.js'%}"></script>
    <script src="{% static './assets/js/jquery.magnific-popup.js'%}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static './assets/js/jquery.scrollUp.min.js'%}"></script>
    <script src="{% static './assets/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static './assets/js/jquery.sticky.js'%}"></script>

    <!-- counter , waypoint -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{% static './assets/js/jquery.counterup.min.js'%}"></script>

    <!-- contact js -->
    <script src="{% static './assets/js/contact.js'%}"></script>
    <script src="{% static './assets/js/jquery.form.js'%}"></script>
    <script src="{% static './assets/js/jquery.validate.min.js'%}"></script>
    <script src="{% static './assets/js/mail-script.js'%}"></script>
    <script src="{% static './assets/js/jquery.ajaxchimp.min.js'%}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static './assets/js/plugins.js'%}"></script>
    <script src="{% static './assets/js/main.js'%}"></script>

</body>

</html>